
{
  "env": {
    "es2020": true,
    "node": true
  },
  "extends": [
    "standard-with-typescript"
  ],
  "ignorePatterns": ["dist/*"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module",
    "project": [ "tsconfig.json" ],
    // As of 1/9/2022, typescript@4.5.4 is not supported.
    // We already know this so we're disabling the warning about it for now.
    "warnOnUnsupportedTypeScriptVersion": false
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "no-console": "warn",
    "semi": "off",
    "@typescript-eslint/semi": ["error", "always"],
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "@typescript-eslint/member-delimiter-style": ["error", {
      "multiline": {
        "delimiter": "semi",
        "requireLast": true
      },
      "singleline": {
          "delimiter": "semi",
          "requireLast": true
      }
    }],
    "@typescript-eslint/consistent-type-assertions": "off",
    "space-before-function-paren": "off",
    "@typescript-eslint/space-before-function-paren": ["error", "never"],
    "@typescript-eslint/no-this-alias": [
      "error",
      {
        "allowDestructuring": false, // Disallow `const { props, state } = this`; true by default
        "allowedNames": ["self", "parent"] // Allow `const self = this`; `[]` by default
      }
    ]
  }
}