@import '../shared/shared.scss';

.logo {
	margin: auto;
	display: block;
}

$padding: 42px;

.header {
	padding: $padding / 1.5;
	color: $blank;
  background-color: $primary;
}

.content {
	min-height: 15em;
	padding: $padding;
	color: $foreground;
	background-color: $blank;
}

.footer {
	margin-bottom: $padding;
	padding: $padding;
	font-size: small;
	line-height: 1.5em;
  background-color: $accent-dark;
  color: $accent;
}

table {
	background-color: $primary;
}